*, *:before, *:after {margin: 0; padding: 0; box-sizing: border-box;}

/*MAIN*/
/*#fda30e*/


.row{
	margin: 0px; 
}

.legend{
	padding: 15px;
	margin-bottom: 35px;
}


.form-control{
	border-radius: 1px;
}

body { 
	font-size: 1.05em;
	line-height: 1.25em;
	font-family: 'Lato', sans-serif;
	background: #f1f1f1;
	height: 200vh;
	color: #B9B5C7; 
	font: 14px 'Open Sans', sans-serif;
}

a {

	color: #333;
	text-decoration: none;
	font-weight: bold;

}

a:hover {

	color: #444;

}

img {

	width: 100%;

}


/* 00000000000000000000000000000000 */
 
   h1 {
   		padding: 100px 0; 
   		font-weight: 400; 
   		text-align: center;
   	}

   p {
   		margin: 0 0 20px; 
   		line-height: 1.5;
   	}
 
   .main {
   		margin: 0 auto; 
   		min-width: 320px; 
   		max-width: 800px;
   	}

   .content {
   		background: #fff; 
   		color: #373737;
   		border: 1px solid #D3D3D3;
   	}

   .content > div {
   		display: none; 
   		padding: 20px 25px 5px;
   	}
 
   input {display: none;}
   label {display: inline-block; padding: 15px 25px; font-weight: 600; text-align: center;}
   label:hover {color: grey; cursor: pointer;}
   input:checked + label {background: #fda30e; color: black;}
 
   #tab1:checked ~ .content #content1,
   #tab2:checked ~ .content #content2,
   #tab3:checked ~ .content #content3,
   #tab4:checked ~ .content #content4 {
     display: block;
   }
 
.form-group label::after{
	content: " :";
}

.form-loja{
	width: 90%;
    margin: 0 auto;
}

form label{
	padding: 15px 10px;
	font-weight: initial!important;
}

.form-loja h2{
	font-weight: 200;
}

#nome{
	width: 72%;
}

#rzsocial{
	width: 53%;
}

#email{
	width: 65%;
}

#info{
	height: 140px;
	margin: 10px;
	width: 83%;
}

#site, #CEPVendedor{
	width: 50%;
}

#CNPJ{
	width: 45%;
}

.btn-enviar{
	background-color: #fda30e!important;
	    border-color: white;
	color: black;
	margin: 20px 0px 20px 0px;    
}

#emailVendedor{
	width: 90%;
}

#idUsuario, #estadoLoja, #senhaVendedor{
	width: 60%;
}

#idSenha{
	width: 70%;
}

#numeroEnderecoVendedor{
	width: 25%;
}

/* --------------------------------*/


/*MEDIA QUERY*/

@media screen and (max-width: 400px) { 
	label {
		padding: 15px 10px;
	} 
}

